Package: com.kidsauto.autolead723
Name: autolead
Version: 7.2.3
Architecture: iphoneos-arm
Description: KidsAuto IOS 9.2.1 - 10.2.1 .....................................
Author: CuongTran <kidsauto723@gmail.com>
Section: System
Depends: com.conradkramer.open,sqlite3,kr.iolate.simulatetouch,com.autopear.installipa,zip,jp.ashikase.mousesupport,sudo,ch.ringwald.hidsupport,com.rbt.useragentchanger,unzip,ws.hbang.repower,veency,rsync,jetslammed,socat
Conflicts: vn.gsm.locationfaker8,com.yourepo.dviet92.xcon,vn.gsm.xcon,com.n00neimp0rtant.xcon,com.yourepo.cml.locationfakerios89,com.yourepo.cml.xcon,com.yourepo.cml.hookkeyboard,com.yourepo.cml.hookkeyboardver2

